*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: steelblue;
}
.container{
    background: rgba(52, 67, 197, 0.623);
    padding: 3rem 4rem;
    border-radius: 5%;
}
h1{
    margin-bottom: 3rem;
    text-align: center;
    color: white;
}
.form-control{
    position: relative;
}
.email input, .password input{
     background: none;
     border: none;
     border-bottom: 1px solid white;
     margin: 1.7rem 0;
     width: 100%;
     outline: none;
     display: block;
     color: white;
     padding: 15px;
}
label{
    position: absolute;
    top: 22px;
    left: 0;
    color: white;
    
}
.btn{
    padding: .5rem 2rem;
    margin: .8rem 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    background: lightblue;
}
p{
    margin: .7rem 0;
    font-size: .9rem;
    text-align: center;
}
a{
    text-decoration: none;
}
.form-control label span{
    display: inline-block;
    transition: transform 0.3s ease-in
}
.form-control input:focus + label span, .form-control:valid + label span {
    transform: translateY(-30px);
}